{% extends "base.html" %}

{% block title %}
Create Group
{% endblock %}

{% block content %}
<div class="container-fluid text-center py-3 border">

        <h1>Create Group</h1>

        <form method="POST">
            {% csrf_token %}
            {% for h in form.hidden_fields %}
            {{h.errors}}
            {{h}}
            {% endfor %}

            {% for f in form.visible_fields %}

                {{f}}

            {% endfor %}
            <br>
            <button type = "submit" class = "btn btn-primary my-2">Add Group</button>
        </form>

    </div>
{% endblock %}
