{% extends "base.html" %}

{% block title %}
{{ group.group_name }}
{% endblock %}

{% block content %}




<div class="container-fluid text-center py-3">

        <h1>Group - {{ group.group_name }}</h1>


        <form method="POST">
            {% csrf_token %}
            {% for h in form.hidden_fields %}
            {{h.errors}}
            {{h}}
            {% endfor %}

            {% for f in form.visible_fields %}

                {{f}}

            {% endfor %}
            <br>
            <button type = "submit" class = "btn btn-primary my-2">Add Task</button>
        </form>



<ol class = "mt-5">
            {% for task in group.taskgrouptask_set.all %}
            <hr class="m-0">
            <li class = "pt-2">
                <p class="float-left  mx-3 align-middle {% if task.status %} text-success {% else %} text-danger {% endif %}">{{ task.task }}</p>
                <a href = "{% url 'complete_grouptask' group.pk task.pk %}" class = "btn btn-sm btn-success float-right mx-3">Done</a>
                <a href = "{% url 'delete_grouptask' group.pk task.pk %}" class = "btn btn-sm btn-danger float-right mx-3">Delete</a>
            </li>
            <div class = "clear m-0 p-0"></div>
            {% endfor %}
            <hr class="m-0">
</ol>

<a href = "{% url 'groupmemberadd' group.pk %}">Manage Members</a>
</div>
{% endblock %}
