{% extends "base.html" %}

{% block title %}
{{ group_list.group_name }}
{% endblock %}

{% block content %}

<div class="container text-center py-3 text-center">
<h1>Group - {{ group_list.group_name }}</h1>

<form method="POST">
            {% csrf_token %}
            {% for h in form.hidden_fields %}
            {{h.errors}}
            {{h}}
            {% endfor %}

            {% for f in form.visible_fields %}

                {{f}}

            {% endfor %}
            <br>
            <button type = "submit" class = "btn btn-primary my-2">Add Task</button>
        </form>



    <ul class="list-inline mx-auto justify-content-center">
            {% for object in group_list.usergroup_set.all %}
            <li class="list-inline-item"><h3>{{ object.member }}</h3></li>
            <br>
            {% endfor %}
        </ul>
</div>
{% endblock %}