{% extends "base.html" %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<div class="container text-center py-3 text-center">
    <h1>Tasks</h1>
    <form method="POST">
        {% csrf_token %}
        {% for h in form.hidden_fields %}
        {{h.errors}}
        {{h}}
        {% endfor %}

        {% for f in form.visible_fields %}
            
            {{f}}
            
        {% endfor %}
        <br>
        <button type = "submit" class = "btn btn-primary my-2">Add Task</button>
    </form>

    <br>
        <ol class = "mt-5">
            {% for task in user.tasks_set.all %}
            <hr class="m-0">
            <li class = "pt-2">
                <p class="float-left  mx-3 align-middle {% if task.status %} text-success {% else %} text-danger {% endif %}">{{ task.task }}</p>
                <a href = "{% url 'complete' task.pk %}" class = "btn btn-sm btn-success float-right mx-3">Done</a>
                <a href = "{% url 'delete' task.pk %}" class = "btn btn-sm btn-danger float-right mx-3">Delete</a>
            </li>
            <div class = "clear m-0 p-0"></div>
            {% endfor %}
            <hr class="m-0">
        </ol>

    </div>


{% endblock %}




    

    